.loginScreen {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bcae-07a3f8dc141a/f6d7434e-d6de-4185-a6d4-c77a2d08648f/US-en-20220502-popsignuptwoweeks-perspective_alpha_website_medium.jpg") center no-repeat;
    background-size: cover;
}

.loginScreen__logo {
    position: fixed;
    left: 20px;
    width: 167px;
    /* Exact Netflix logo width usually around this */
    object-fit: contain;
    top: 20px;
    z-index: 10;
}

.loginScreen__gradient {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%);
}

.loginScreen__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    /* Official opacity */
    width: 100%;
    max-width: 450px;
    padding: 60px 68px 40px;
    min-height: 660px;
    /* Taller card */
    z-index: 5;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginScreen__body>form {
    display: flex;
    /* Better layout control */
    flex-direction: column;
    width: 100%;
}

.loginScreen__body>form>h1 {
    text-align: left;
    margin-bottom: 28px;
    font-size: 32px;
    font-weight: 700;
}

.loginScreen__body>form>input {
    outline: none;
    height: 50px;
    /* Taller inputs */
    margin-bottom: 16px;
    border-radius: 4px;
    border: none;
    padding: 16px 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
    line-height: 50px;
    /* Vertically center text */
}

.loginScreen__body>form>input::placeholder {
    color: #8c8c8c;
}

.loginScreen__body>form>input:focus {
    background-color: #454545;
}

.loginScreen__body>form>button {
    padding: 16px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background-color: #e50914;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 100%;
}

.loginScreen__body>form>button:hover {
    background-color: #f40612;
}

.loginScreen__body>form>h4 {
    text-align: left;
    margin-top: 16px;
    font-size: 16px;
    color: #737373;
    /* Netflix gray */
    font-weight: 400;
}

.loginScreen__gray {
    color: #737373;
}

.loginScreen__link {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.loginScreen__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 740px) {
    .loginScreen__body {
        background-color: black;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
        max-width: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}